.loginsignup {
  width: 100%;
  height: 100vh;
  background-color: #fce3fe;
  padding-top: 100px;
}

.loginsignup-container {
  width: 550px;
  height: 550px;
  background-color: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsignup-container h1 {
  margin: 20px 0;
  text-align: center;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  gap: 20px;
}

.loginsignup-fields input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  outline: none;
  border: 1px solid #c9c9c9;
  color: #5c5c5c;
  font-size: 18px;
  border-radius: 25px;
}

.loginsignup-agree input {
  width: 15px;
  height: 15px;
  margin: 20px;
  display: inline-block;
}
.loginsignup-agree p {
  display: inline-block;

  color: #5c5c5c;
  font-size: 20px;
  font-weight: 500;
}

.loginsignup-fields input::placeholder {
  font-size: 18px;
}
.loginsignup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginsignup-btn .button {
  width: 200px;
  height: 45px;
  color: white;
  background-color: #ff4141;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  align-self: center;
}
.loginsignup-btn input:hover {
  background-color: #ff4141;
  transition: all 0.3s ease-in-out;
}
.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
/* 
.loginsignup-agree{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
} */
.login-remember input {
  width: 15px;
  height: 15px;
  margin: 20px;
  display: inline-block;
}

.login-remember p {
  display: inline-block;
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 500;
}

.login-forgot .loginsignup-forgot {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.login-forgot span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}
